body {
    margin: 0px;
}

.jumbotron {
    padding-top: 2rem;
    background-color: #e2edff;
}

.about, .education, .project, .contact {
    background-color: #e2edff;
}

.bg_purple {
    background-color: purple;
}

.line_connector {
    width: 5px;
    height: 10vh;
}

.bi-arrow-up-circle {
    padding: 10px;
    color: white;
}